

.recruiter-features {
    background-color: black;
    min-height: 100vh;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem; 
}

.title {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
   
}

.semi-title {
    max-width: 75%;
    margin-bottom: 5rem;
}

.features-grid {
    width: 80%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    
}

.feature {
    background-color: rgb(30, 32, 32);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: start;
    column-gap: 1rem;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: scale(1.1);
}

.feature-right {
    display: flex; 
    flex-direction: column;
    row-gap: 0.5rem;
}

.feature-title {
    font-weight: 700;
}

.feature-description {
    color: darkgray;
}

.icon {
    background-color: rgb(42, 163, 123);
    padding: 0.5rem;
    border-radius: 10px;
}





@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}