
@keyframes bounceUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.crud-buttons {
    animation: bounceUp 0.2s ease forwards;
}

.crud-buttons::after {
  content: "";
  position: absolute;
  top: -8px; right: 12px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  
}