@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    font-family: 'Outfit', 'sans-serif';
} */

:root {
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-2xl: 1530px;
}

body {
  background: linear-gradient(to right, #e0f2fe, #e0e7ff); /* light mode */
}

.dark body {
  background: linear-gradient(to right, #0f172a, #02284f, #1c1917); /* dark */
}




html::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: #e2e8f0;           
}

html::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #38bdf8;       

  border: 2px solid #e2e8f0;
}

html::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #0ea5e9;       
}


html,
* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #e2e8f0;
}


html.dark::-webkit-scrollbar-track,
.dark *::-webkit-scrollbar-track {
  background: #020617 !important;    
}

html.dark::-webkit-scrollbar-thumb,
.dark *::-webkit-scrollbar-thumb {
  background-color: #3b82f6;         
  border: 2px solid #020617;
}

html.dark::-webkit-scrollbar-thumb:hover,
.dark *::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;           
}


html.dark,
.dark * {
  scrollbar-color: #3b82f6 #020617;
}











@layer utilities {
  .hover-gradient-move {
    background-size: 200%;
    background-position: left center;
    transition: background-position 1s ease;
  }
  .hover-gradient-move:hover {
    background-position: right center;
  }
}

@keyframes bounceUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme {
  --animate-bounce-up: bounceUp 0.25s ease forwards;
}
