@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    font-family: 'Outfit', 'sans-serif';
} */

:root {
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-2xl: 1530px;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #14b8a6; 
  border-radius: 8px;
  border: 2px solid #1e293b; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #14b8a6 #1e293b; 
}
