@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    font-family: 'Outfit', 'sans-serif';
} */

:root {
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-2xl: 1530px;
}

body {
  background: linear-gradient(to right, #e0f2fe, #e0e7ff); /* light mode */
}

.dark body {
  background: linear-gradient(to right, #0f172a, #042f2e, #1c1917); /* dark */
}





/* ---------- GLOBAL SCROLLBAR BASE ---------- */
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 8px;
  border: 2px solid #f1f5f9;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #0284c7;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 #f1f5f9;
}



html.dark::-webkit-scrollbar-track {
  background: #1e293b;
}

html.dark::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border: 2px solid #1e293b;
}

html.dark::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}

html.dark {
  scrollbar-color: #14b8a6 #1e293b;
}





@layer utilities {
  .hover-gradient-move {
    background-size: 200%;
    background-position: left center;
    transition: background-position 1s ease;
  }
  .hover-gradient-move:hover {
    background-position: right center;
  }
}

@keyframes bounceUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme {
  --animate-bounce-up: bounceUp 0.25s ease forwards;
}
