@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    font-family: 'Outfit', 'sans-serif';
} */

:root {
  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-2xl: 1530px;
}

body {
  background: linear-gradient(to right, white, #e0f2fe, #e0e7ff); /* light mode */
}

.dark body {
  background: linear-gradient(to right, #0f172a, #042f2e, #1c1917); /* dark */
}



/* Light mode scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0ea5e9; 
  border-radius: 8px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0284c7; 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 #f1f5f9;
}


.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #14b8a6; 
  border: 2px solid #1e293b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}

.dark * {
  scrollbar-color: #14b8a6 #1e293b;
}




@layer utilities {
  .hover-gradient-move {
    background-size: 200%;
    background-position: left center;
    transition: background-position 1s ease;
  }
  .hover-gradient-move:hover {
    background-position: right center;
  }
}

